<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="align-items: center;">
        Doctors of Specialization = <%= Specialization %>
    </h1>
    <div class="main" style="display: flex; gap: 10px; padding: 20px;">
        <% data.map((elem) => { %>
            <div style="border: 2px solid black; padding: 20px; ">            
                doctorName = <%= elem.username%>
                <br>
                id = <%= elem._id%>
                <br>
                Specialization = <%= elem.Specialization%>
            </div>
        <% }) %>
    </div>

</body>
</html>