<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Stylesheet/style.css">
</head>
<body>
    <h1>SignUp</h1>
    <form action="/signup" method="post">
        <div class="inputs">
            <input type="text" placeholder="Enter username" name="username">
            <input type="text" placeholder="First name" name="firstName">
            <input type="text" placeholder="Last name" name="lastName">
            <input type="email" placeholder="Enter email" name="email">
            <input type="password" placeholder="Enter password" name="password">
            <input type="text" placeholder="accountType" name="accountType" class="accountType">
            <input type="text" placeholder="Specialization" name="Specialization" class="Specialization display">

        </div>
        
        <div class="reCaptcha">
            <div>Enter reCaptcha :-</div>
            <input class="matching" type="text" placeholder="Enter reCaptcha" name="reCaptcha">
        </div>
        <button style="cursor: pointer;" type="submit">Register</button>


    </form>
    <div class="google" style="display: flex; justify-content: center; margin-top: 30px;">

        <a href="/auth/google" style="padding: 10px 15px; border: 2px solid black; width: fit-content; text-decoration: none; border-radius: 10px;">Login with Google</a>
    </div>

    <script src="./Javasscript/script.js"></script>
</body>
</html>